<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Document</title>
</head>
<body style="background-color: rgba(247, 247, 247, 1);">
    <header class="header" id="header">
        <div class="logo" onclick="window.location.href = '/';">
            <img src="/images/btc_logo.png" alt="" class="logo_img">
            <p class="logo_text">itswap</p>
        </div>
        <nav class="nav">
            <a href="/rools" class="nav_link">Правила обмена</a>
            <a href="/amlkyc" class="nav_link">AML/KYC</a>
            <a href="/contacts" class="nav_link">Контакты</a>
        </nav>
        <div class="reg">
            <a href="" class="signin">Войти</a>
            <a href="" class="signup">Регистрация</a>
        </div>
        <img src="/images/menu.svg" alt="" class="openmenu" id="openmenu">
    </header>
    <!-- нужен тэг exchange__rules -->
    <div class="exchange__rules">
        <div class="exchange__rules__container">
            <h1 class="exchange__rules--title">
                Правила обмена
            </h1>
            <p class="exchange__rules--desc">
                1. Общие положения
                <br>
                Настоящее соглашение (далее по тексту Соглашение) описывает правила и условия, на основании которых предоставляются услуги обменного сервиса Bitswap и является официальной письменной публичной офертой адресованной физическим лицам (далее по тексту - Пользователь), заключить Соглашение о предоставлении услуг сервисом Bitswap на изложенных ниже условиях.
                <br>
                Перед тем как воспользоваться услугами сервиса Bitswap, Пользователь обязан ознакомиться в полном объеме с условиями «Соглашения о предоставлении услуг сервисом Bitswap».
                Использование услуг сервиса Bitswap возможно только при условии, что Пользователь принимает все условия Соглашения.
                <br>Действующая версия Соглашения расположена для публичного доступа на интернет-сайте сервиса Bitswap.
                 <br><br>
                2. Термины и определения, используемые в Соглашении
                <br>Сервис Bitswap (Далее по тексту сервис) – система предоставления интернет-услуг по обмену, продаже и покупке электронных активов.
                <br>Интернет-сайт Сервиса – www.bitswap.ru
                <br>Пользователь – любое физическое или юридическое лицо, использующее услуги Сервиса bitswap и осуществившее акцепт Соглашения в соответствии с его условиями.
                <br>Партнер – лицо, оказывающее Сервису услуги по привлечению Пользователей, условия оказания которых описаны в настоящем Соглашении.
                <br>Платежная система – программный продукт, созданный третьей стороной, представляющий собой механизм реализации учета денежных (электронные деньги) и/или иных обязательств, оплату товаров и услуг в сети Интернет, а также организацию взаиморасчетов между пользователями.
                <br>Основными платежными системами в рамках настоящего Соглашения являются:
                <br>Bitcoin, Bitcoin Cash, Ethereum, QIWI, Yandex.Money,и другие. Точный список Платежных систем указан на Интернет-сайте Сервиса.  
                <br>Клиент платежной системы – лицо, заключившее соглашение с соответствующей платежной системой на приобретение имущественных прав требования к ней, измеряемых в условных единицах, принятых в соответствующей платежной системе.
                <br>Электронный актив – денежное и/или иное обязательство между разработчиком данной электронного актива и ее пользователем, выраженное цифровым способом.
                <br>Платеж/Операция – перевод электронной и/или иной электронного актива от плательщика к получателю.
                <br>Заявка – выражение намерения Пользователя воспользоваться одной из услуг, предлагаемых Сервисом bitswap, путем заполнения электронной формы через Интернет-сайт Сервиса, на условиях, описанных в Соглашении и указанных в параметрах этой Заявки.
                <br>Верификация карты - это проверка принадлежности карты (или счета) её владельцу. Условия проверки принадлежности устанавливает Сервис, производиться единовременно для каждого нового счета (карты) клиента.
                <br>Исходная валюта – электронная валюта, которую Пользователь желает продать или обменять.
                <br>Исходный счет – номер кошелька или любое другое обозначения счета Пользователя в Платежной системе, с которого была отправлена Исходная валюта.
                <br>Полученная электронный актив – электронный актив, которую Пользователь получает в результате продажи или обмена Исходной электронного актива.
                <br>Счет получателя – номер кошелька или любое другое обозначения счета Пользователя в Платежной системе, на который будет отправлена Полученная валюта.
                <br>Резерв электронного актива – имеющийся в распоряжении Сервиса bitswap, на момент создания Заявки, объем определенного электронного актива.
                <br>Обмен электронного актива – обмен электронного актива одной платежной системы на электронный актив другой платежной системы.
                <br>Курс — стоимостное соотношение двух электронных активов при их обмене.
                <br>Резервы электронных валют – суммы имеющихся в наличии у Сервиса Электронных активов или денежных средств для совершения услуг. Суммы резервов указаны на Интернет-сайте Сервиса на главной странице.
                 <br><br>
                3. Предмет Соглашения и порядок вступления его в силу
                <br>3.1. Предметом настоящего Соглашения является предоставление Пользователю Сервисом bitswap следующих услуг:
                <br>3.1.1. Обмен электронного актива;
                <br>3.1.2. Продажа Пользователю электронного актива;
                <br>3.1.3. Покупка у Пользователя электронного актива.
                <br>3.2. Акцепт (принятие условий) настоящего Соглашения (Оферты) производится Пользователем в случае:
                <br>3.2.1. Направления Заявки на совершение одной из услуг, предлагаемых Сервисом;
                <br>3.2.2. Регистрации на Интернет-сайте Сервиса.
                <br>3.3. При направлении Заявки акцептом публичной оферты признается совершение Пользователем действий по завершению формирования Заявки, подтверждающих его намерение совершить сделку с Сервисом на условиях, предложенных Сервисом. Дата и время акцепта, а также параметры условий заявки фиксируются Сервисом автоматически в момент завершения формирования заявки. Настоящее Соглашение вступает в силу в момент поступления от Пользователя на реквизиты Сервиса электронного актива или денежных средств в сумме, предусмотренной параметрами Заявки.
                <br>3.4. В случае регистрации на Интернет-сайте Сервиса настоящее Соглашение вступает в действие в момент проставления галочки перед словами «Я согласен с условиями оферты» и нажатия кнопки «Зарегистрироваться».
                <br>3.5. Срок действия договора устанавливается бессрочно до момента расторжения договора по инициативе одной из сторон на условиях указанных ниже.
                <br><br> 
                4. Услуги и порядок их оказания
                <br>4.1. Общий порядок оказания услуг Сервисом
                <br>4.1.1. Заказ услуг Сервисом bitswap осуществляется Пользователем путем направления Заявки через Интернет-сайт Сервиса.
                <br>4.1.2. Управление процессом обмена или получение информации о ходе выполнения услуги Пользователем производятся при помощи соответствующего пользовательского интерфейса, расположенного на Интернет-сайте Сервиса.
                <br>4.1.3. Сервис bitswap осуществляет исполнение Заявок на безотзывной основе в соответствии с условиями работы соответствующих Платежных систем. Особые условия работы с некоторыми Платежными системами указаны ниже.
                <br>4.1.4. Сервис bitswap не несет ответственности за действия Платежной системы перед ее Клиентом. Права и обязанности платежной системы и ее Клиента регулируются условиями предоставления услуг соответствующих Платежных систем.
                <br>4.1.5. Воспользовавшись услугами Сервиса bitswap, Пользователь подтверждает, что законно владеет и распоряжается денежными средствами и электронной валютой, участвующими в соответствующем Платеже.
                <br>4.1.6. Пользователь обязуется самостоятельно исчислять и уплачивать все налоги, требуемые в соответствии с налоговым законодательством места нахождения Пользователя.
                <br><br> 
                4.2. Услуга по Обмену электронного актива
                <br>4.2.1. Путем оформления Заявки Пользователь поручает, а Сервис bitswap от своего имени и за счет Пользователя, совершает действия по обмену электронного актива одной Платежной системы (Исходная валюта) на Электронную валюту другой Платежной системы (Полученная валюта) выбранной Пользователем.
                <br>4.2.2. Пользователь обязуется перечислить (передать) Исходную валюту, в размере указанном в Заявке, а Сервис bitswap, после получения соответствующего электронного актива, обязуется перечислить (передать) Пользователю Полученную валюту, рассчитанную по Курсу и в соответствии с тарифами Сервиса.
                <br>4.2.3. Размер вознаграждения Сервиса Ex-Bank отражается в Заявке и подтверждается Пользователем на одной из страниц пользовательского интерфейса при оформлении Заявки.
                <br>4.2.4. Обязанность Сервиса bitswap по перечислению (передаче) электронного актива Пользователю считается исполненной в момент списания электронного актива в соответствующей Платежной системе со счета Сервиса Ex-Bank, что регистрируется в истории операций соответствующей Платежной системы.
                 <br><br>
                4.3. Услуга по продаже Пользователю электронного актива
                <br>4.3.1. Путем оформления Заявки Пользователь поручает, а Сервис bitswap от своего имени и за счет Пользователя, совершает действия по приобретению и передаче электронного актива Пользователю в течении 10-30 минут.
                <br>4.3.2. Размер вознаграждения Сервиса bitswap за указанные действия отражается в Заявке и подтверждается Пользователем на одной из страниц пользовательского интерфейса.
                <br>4.3.3. В течение 24 часов с момента получения денежных средств от Пользователя, в размере указанном в соответствующей Заявке, Сервис bitswap обязан перечислить (передать) Полученную Электронную валюту на реквизиты и в размере, указанном Пользователем в Заявке.
                <br>4.3.4. Сервис bitswap вправе отменить созданную Пользователем заявку на покупку электронного актива, если оплата по такой заявке не поступила на расчетный счет сервиса по истечению 1 часа с момента создания такой заявки.
                <br>4.3.5. Обязанность Сервиса bitswap по перечислению (передаче) полученного электронного актива Пользователю считается исполненной в момент списания электронного актива в соответствующей Платежной системе со счета Сервиса bitswap, что регистрируется в истории операций соответствующей Платежной системы.
                 <br><br>
                 
                4.4. Услуга по покупке у Пользователя электронного актива
                <br>4.4.1. Путем оформления Заявки Пользователь поручает, а Сервис bitswap от своего имени и за счет Пользователя, покупает электронный актив у Пользователя, а также совершает действия по передаче денежного эквивалента Пользователю в сумме, указанной в Заявке.
                <br>4.4.2. В течение 24 (Двадцати четырех) часов с момента получения Исходной электронного актива от Пользователя, в размере указанном в соответствующей Заявке, Сервис bitswap обязан передать Пользователю денежный эквивалент перечисленного электронного актива, способом выбранным Пользователем при подаче Заявки.
                <br>4.4.3. Размер вознаграждения Сервиса bitswap за указанные действия отражается в Заявке и подтверждается Пользователем на одной из страниц пользовательского интерфейса.
                <br>4.3.4. Обязанность Сервиса bitswap по перечислению денежного эквивалента переданного электронного актива считается исполненной в момент списания соответствующей суммы со счета Сервиса bitswap.
                <br><br> 
                5. Дополнительные условия оказания услуг
                <br>5.1. В случае не поступления от Пользователя к Сервису bitswap электронного актива или денежных средств в течение 2 часов с момента создания Заявки, Сервис имеет право аннулировать такую Заявку при ручной обработке поступивших платежей, и в течение 1 часа при автоматической обработке. Электронная валюта или денежные средства, поступившие после указанного выше срока, подлежат возврату на реквизиты плательщика за вычетом 10%. При осуществлении возврата, все комиссионные расходы на перевод производятся из поступивших средств за счет Пользователя.
                <br>5.2. В случае поступления от Пользователя к Сервису bitswap электронного актива или денежных средств в сумме, отличающейся от указанной в Заявке, Сервис имеет право рассматривать это как распоряжение Пользователя сделать перерасчет по заявке согласно фактически поступившей сумме электронного актива. В случае, если количество поступившей электронного актива или денежных средств отличается от заявленного Пользователем более чем на 10%, Сервис может в одностороннем порядке аннулировать Заявку и возвратить поступившие средства на реквизиты плательщика. При осуществлении возврата, все комиссионные расходы на перевод средств производятся из поступивших средств за счет Пользователя.
                <br>5.3. В случае не исполнения Сервисом bitswap условия отправки электронного актива или денежных средств по Заявке на реквизиты, указанные Пользователем, в течение 24 часов с момента отправки Заявки, Пользователь имеет права требовать возврата электронного актива или денежных средств в полном объеме, кроме случаев, указанных в настоящем Соглашении. Требование о возврате электронного актива или денежных средств может быть исполнено Сервисом только в том случае, если на момент получения такого требования денежный эквивалент не был отправлен на реквизиты, указанные Пользователем. Увеличение срока перечисления электронного актива или денежных средств может быть вызвано условиями обработки заявок отдельных Платежных систем, в указанном случае Сервис ответственности не несет и возврат не осуществляется.
                <br>5.4. Курс электронного актива фиксируется Системой не более, чем на 15 минут с момента создания Заявки. В случае, если Пользователь произвел оплату по прошествии 15 минут, Система автоматически обновляет курс и блокирует возможность создания заявки. В случае блокировки создания заявки необходимо создать новую заявку по актуальному курсу, пропустив пункт с оплатой, а также обратиться в техническую поддержку Сервиса bitswap.
                <br>В случае с Банковскими платежами, курс обновляется всегда.
                <br>В случае заморозки платежа по причине не зависящей от сервиса bitswap на срок более чем на 30 минут, курс может быть пересмотрен сервисом bitswap, а клиент обязуется написать в техподдержку о проведении операции.
                <br>В случае если клиент отказывается от пересчитанной суммы, сервис возвращает денежные средства на счет клиента за вычетом 5%.
                <br>5.5 Заявка обрабатывается сервисом bitswap в течении 1-30 минут в зависимости от выбранного направления.
                <br>5.6. Особые условия некоторых Платежных систем:
                <br>- Банковские платежи обрабатываются Сервисом в течение 24 часов, при необходимости Сервис может потребовать Верификацию карты(счета) клиента;
                <br>- PerfectMoney может задерживать переводы более, чем на 24 часа;
                <br>- Если Заявка на Bitcoin завершена, возврат денежных средств невозможен;
                <br>- Если присланная сумма меньше минимальной суммы обмена, деньги назад не возвращаются
                <br>-Запрещается оплачивать заявку по направлению Qiwi с банкоматов и терминалов, а также оплачивать заявку двумя или более платежами. В противном случае заявка будет аннулирована, а оплаченные средства не возвращаются.
                <br>- YandexMoney: На первый платеж от Незарегистрированного/Неверифицированного Пользователя установлена задержка на 48 часов.
                <br>- Банковские переводы в направлении Visa/Mastercard RUB в большинстве случаев зачисляются мгновенно, но в некоторых случаях могут занимать до 5 банковских дней.
                <br>-Bitcoin : подтверждения транзакций напрямую зависят от нагрузки сети bitcoin. В некоторых случаях возможны задержки поступления до нескольких дней.
                 <br><br>
                6. Стоимость услуг
                <br>6.1. Курс обмена электронных активов bitswap устанавливается руководством Сервиса и публикуется на Интернет-сайте Сервиса.
                <br>6.2. Сервис bitswap вправе самостоятельно изменять курсы обмена электронных активов и взимаемых комиссионных в любое время в одностороннем порядке, о чем уведомляет Пользователей Сервиса предварительным размещением информации об этих изменениях на Интернет-сайте Сервиса.
                <br>6.3. В Заявке, создаваемой Пользователем на Интернет-сайте Сервиса, указывается курс, размер комиссии, взимаемый соответствующей Платежной системой, за проведение Операции, способ Обмена, а также общая сумма перечисляемых денежных средств или электронного актива.
                <br>6.4. Сервис bitswap взимает стоимость своего вознаграждения в момент проведения соответствующей Операции.
                <br><br> 
                 
                <br>6.6. Сервис предлагает систему вознаграждений (только для зарегистрированных Пользователей). Узнайте статус своей скидки и повысьте процент вознаграждения при обращении в техническую поддержку! Подробнее об условиях получения скидки на обмен:
                <br>5% - за обмен от 0 до 1000 $
                <br>10% - от 1000 до 10 000 $
                <br>15% - от 10 000 и выше
                <br><br> 
                <br>Процент вознаграждения рассчитывается от прибыли Сервиса по каждому доступному направлению обмена, по некоторым направлениям обмена комиссия сервиса может быть 0%, может быть меньше 0% (то есть комиссия отсутствует) или Сервис не получает выгоду от обмена, значит Сервис с этого обмена не имеет прибыли, в этих ситуациях вознаграждение не начисляется.
                <br><br> 
                 
                7. Партнерская программа
                <br>7.1. Настоящее Соглашение является официальным предложением Партнерам о
                Реферальной системе скидок.
                <br> Оплачивается при переходе Пользователя по реферальной ссылке на Сайт Сервиса и проведении операции Обмена.
                <br>Система скидок:
                <br>0,5 % от суммы обмена - после регистрации на Сайте
                <br>0,6% - от суммы обмена - за 5 приглашенных рефералов
                <br>0,8 % от суммы обмена+ подарок - за 10 приглашенных рефералов
                <br>0,9 % от суммы обмена+ подарок - за 100 рефералов
                <br>1 % от суммы обмена+ подарок - за 300 рефералов
                <br>Процент начисления реферальных рассчитывается от прибыли сервиса по каждому конкретному направлению обмена, по некотором направлениям обмена комиссия сервиса может быть 0%, меньше 0 (то есть комиссия отсутствует) или сервис не получает выгоду от обмена, значит сервис с этого обмена не имеет прибыли, в этих ситуациях реферальные скидки не начисляются.
                Дополнительно к скидкам может быть произведен подарок, список подарков указан на Сайте Системы.
                <br>7.2. Для «мониторингов обменников» предоставляется единая реферальная скидка в 0,5% от суммы обмена партнеров.
                 <br><br>
                8. Ответственность Сторон
                <br>8.1. Сервис bitswap несет ответственность перед Пользователем в размере, не превышающем переведенной Пользователем суммы электронного актива или денежных средств.
                <br>8.2. Сервис bitswap не отвечает за неисправности, ошибки и сбои в работе программных и/или аппаратных средств, обеспечивающих функционирование услуг Сервиса bitswap, возникшие по причинам, не зависящим от Сервиса bitswap, а также связанные с этим убытки Пользователя.
                <br>8.3 Сервис bitswap оказывает услуги только по обмену, покупке и продаже Электронных валют. bitswap никоим образом не принимает оплату в пользу каких-либо третьих лиц, а также запрещает перевод на кошельки, которые не принадлежат Пользователю. bitswap не вступает ни в какие партнерские отношения, не заключает никаких договоров с получателями платежей за свои товары или услуги.
                <br>8.4. Сервис bitswap не отвечает за убытки Пользователя, возникшие в результате неправомерных действий третьих лиц.
                <br>8.5. Пользователь несет всю ответственность за достоверность сведений, указанных им при заполнении Заявки. В случае, если Пользователь не указал или неверно указал персональные данные или данные платежа, Сервис bitswap не отвечает за убытки Пользователя, понесенные в результате допущенной ошибки.
                <br>8.6. Пользователь гарантирует, что он не является вовлеченным в:
                <br>- операции по отмыванию денежных средств;
                <br>- получение доходов от незаконного оборота наркотиков;
                <br>- получение доходов от преступной и/или террористической деятельности;
                <br>- доходов от торговли со странами, торговля с которыми запрещена международными организациями;
                <br>- дохода от любой другой незаконной деятельности.
                <br> 8.7. В случае задержки поступления или не поступления денежных средств на реквизиты, указанные Пользователем, по вине Платежной системы или банка, указанных Пользователем в Заявке, Сервис не несет никакой ответственности за возможный причиненный Пользователю ущерб. Пользователь соглашается, что в этом случае любые претензии предъявляются им к Платежной системе или банку, а Сервис, в свою очередь, оказывает помощь Пользователю в рамках своих возможностей.
                <br>8.8. В случае обнаружения фальсификации коммуникационных потоков или оказания какого-либо негативного влияния на нормальную работу программного кода Сервиса, имеющей прямое или косвенное отношение к Заявке Пользователя, исполнение Заявки Сервисом приостанавливается, а по уже полученным средствам производится перерасчет параметров Заявки в соответствии с действующими условиями или, в случае несогласия Пользователя с перерасчетом, возврат электронного актива или денежных средств на реквизиты плательщика.
                <br>8.9. Стороны освобождаются от ответственности за полное или частичное неисполнение своих обязательств по Соглашению, если таковое явилось следствием обстоятельств непреодолимой силы, возникших после вступления в силу Соглашения, в результате событий чрезвычайного характера, которые не могли быть предвидены и предотвращены разумными мерами.
                <br>8.10. В других случаях неисполнения или ненадлежащего исполнения своих обязательств по Соглашению Стороны несут ответственность в соответствии с законодательством Белиза с учетом условий Соглашения.
                <br><br> 
                9. Прочие условия
                <br>9.1. Запрещено использование Сервиса bitswap для проведения мошеннических и незаконных операций.
                <br> 9.2. Администрация Сервиса bitswap оставляет за собой право предоставлять информацию о платежах правоохранительным и иным органам в соответствии с законодательством Белиза.
                <br>9.3. По запросу Администрации Сервиса Пользователь обязуется предоставлять документы, идентифицирующие личность, а также иную информацию, касающуюся платежей.
                <br>9.4. Пользователь обязуется не нарушать работу Сервиса bitswap путем вмешательства в его программную или аппаратную части, а так же путем искажения параметров, передаваемых Сервису.
                <br>9.5. Сервис bitswap в случае подозрительных действий в процессе оформления заявки Пользователем, во избежание ущерба от хакерских атак вправе приостанавливать выполнение таких операций до выяснения причин этих действий.
                <br>9.6. Сервис bitswap вправе отказать в выполнение операции обмена, покупки и продажи электронных валют, если передача электронного актива на счет Сервиса была произведена без оформления Заявки при помощи пользовательских интерфейсов на Сайте Сервиса.
                Электронная валюта, перечисленная на соответствующие счета Сервиса, без оформления Заявки при помощи пользовательских интерфейсов на Сайте Сервиса может быть возвращена Пользователю по запросу с учетом вычета комиссии платежной системы.
                <br>9.7. Администрация Сервиса имеет абсолютное право отказать в предоставлении услуг любому клиенту, без объяснения причин.
                 <br><br>
                10. Заключительные положения
                <br>10.1. Стороны заключили настоящее Соглашение в электронной форме и признают его равнозначным по юридической силе договору, заключенному в письменной форме.
                <br>10.2. Сервис bitswap вправе в одностороннем порядке вносить изменения в Соглашения путем публикации изменений на Сайте Системы. Изменения вступают в силу с момента опубликования, если иной срок вступления изменений в силу не определен дополнительно при их публикации.
                <br>10.3. Сервис bitswap вправе отправлять Пользователю на указанный им e-mail информацию о состоянии процесса обмена, а также иную информацию, в том числе рекламного характера.
                <br>10.4. Все споры и разногласия, возникшие или могущие возникнуть из настоящего Соглашения, подлежат разрешению путем переговоров на основании письменного заявления Пользователя. Любая из Сторон вправе обратиться за разрешением спора в суд по месту нахождения Сервиса.
                <br><br> 
                Информация на сайте, включая графические изображения, текстовую информацию, программные коды и т.п. является собственностью сайта ex-bank.cc и охраняется законами об авторском праве. Каждый случай несанкционированного копирования (полного или частичного) может преследоваться в рамках действующего законодательства.
                 <br><br>
                Курсы криптовалют привязаны к бирже Bitfinex.com
                 <br><br>
                Пользователь подтверждает, что он ознакомился со всеми положениями настоящего Соглашения и безусловно принимает их, в противном случае Пользователь не может использовать Сервис bitswap. 
            </p>
        </div>
    </div>

    <style>
        /* это тебе не надо */
        html {
            box-sizing: border-box;
        }
        *,
        *::after,
        *::before {
            box-sizing: inherit;
            margin: 0;
            padding: 0;
        }
        /* то что ниже уже надо */
        .exchange__rules {
            width: 100%;
            padding: 0 20px;
        }
        .exchange__rules__container {
            display: flex;
            flex-direction: column;
            width: 100%;
            border: solid 1px #E5E5E5;
            border-radius: 30px;
            padding: 70px 120px 25px 120px;
            margin-top: 15px;
        }
        .exchange__rules--title {
            width: 100%;
            font-weight: 500;
            font-size: 45px;
            color: black;
            margin-bottom: 25px;
        }
        .exchange__rules--desc {
            width: 100%;
            font-weight: 300;
            font-size: 12px;
            color: black;
            line-height: 20px;
        }
        @media screen and (max-width: 900px) {
            .exchange__rules__container {
                padding: 50px 90px 60px 90px;
            }
            .exchange__rules--title {
                font-size: 35px;
            }
            .exchange__rules--desc {
                font-size: 13px;
                line-height: 17px;
            }
        }
        @media screen and (max-width: 500px) {
            .exchange__rules {
                padding: 0 15px;
            }
            .exchange__rules__container {
                padding: 30px 30px 48px 30px;
            }
            .exchange__rules--title {
                font-size: 25px;
            }
        }

    </style>
    <footer class="footer">
        <div class="footer_flex">
            <p class="partner">Партнер</p>
            <img src="/images/bestchange.png" alt="" class="bestchange">
            <p class="copyright">© 2024 bitswap.ru, все права защищены.</p>
        </div>
    </footer>
    <script src="/header.js"></script>
</body>
</html>